@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

* {
  margin: 0;
  padding: 0;
  border: 0;
  color: #777777;
}

body {
  color: #777777;
}

/* Header*/
.header {
  padding: 0px 0px;
  
}

.navbar-brand {
  font-family: "Expo";
  color: #fafafa;
  font-weight: bold; 
  font-style: italic;
  }


.navbar {
background-color: #8a2be2;
width: 100%;
color: #fafafa;
padding-left: 5px;
padding-right: 0px;
border: 0;
margin-left: auto;
}

.navbar .navbar-toggler {
    border: 0;
}


.navbar .navbar-nav a {
  color: #ffffff;
}

.navbar .navbar-nav a {
  font-weight: bold;
  color: #ffffff;
  font-family: "Expo";
}

/* Homepage Hero image*/

#cover-outer {
  height: 600px;
  width: 100%;
  position: relative;
  z-index: -1;
  overflow-x: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    max-width: 100%;
    
    background: url("../images/homepage-hero-image.png") no-repeat center center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Who are we section*/

#who-section {
background-color: rgb(138, 43, 226, 0.1) ;
width: 100%;
height: auto;
}

/* Footer*/

footer {
    height: 75px;
    background-color: blueviolet;
}

.social-links {
    text-align: center;
}

.social-links i {
    color: #fafafa;
}

#text-copyright i {
    color: #fafafa;
}

#text-copyright small {
    color: #fafafa;
}

/* Search Section*/
#search-function {
    height: 600px;
    max-width: 100%;
    overflow-x: hidden;
}

#location {
    color: #4f4757;
    font-size: 120%;
    font-weight: bold;
}

/* Homepage Featured Section*/
.block-divider {
  width: 75px;
  height: 3px;
  background-color: #777777;
  border: 0;
  margin: 0 auto;
}

#featured {
    color: #777777; 
  
}


.featured-button {
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #8a2be2;
  color: #ffffff;
  width: 130px;
  border-radius: 50px;
  font-weight: bold;
}

div#map {min-height: 360px;}

/* Contact page*/

#contact-header h1 {
    color: #ffffff;
    font-weight: bold;
    bottom: 30px;
    left: 150px;
}

#contact-header {
    bottom: 20px;
    left: 150px;
 position: absolute;
}

#hero-image-contact {
    height: 600px;
    width: 100%;
    max-width: 100%;
    
    background: url("../images/contact-us-image.png") no-repeat center center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact-button {
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #8a2be2;
  color: #ffffff;
  width: 185px;
  border-radius: 50px;
  font-weight: bold;
}

